// Responsive down size
$media-breackpoints-down-xs: 413.98px;
$media-breackpoints-down-sm: 573.98px;
$media-breackpoints-down-md: 767.98px;
$media-breackpoints-down-lg: 991.98px;
$media-breackpoints-down-xl: 1199.98px;

// Responsive up size
$media-breackpoints-up-xs: 320px;
$media-breackpoints-up-xs: 576px;
$media-breackpoints-up-xs: 768px;
$media-breackpoints-up-xs: 992px;
$media-breackpoints-up-xs: 1200px;