// Paleta de colores
$defaultFontSize: 16px;

$primary-color: #0098d3;
$primari-color-hover: #0280b3;

$menu-color: #252527;

$font-ligth: #fff;
$font-grey-ligth: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-ligt: #252527;
$font-dark: #000;

$border-ligth: #fff;
$border-grey-ligth: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-ligt: #252527;
$border-dark: #000;

$background-ligth: #fff;
$background-grey-ligth: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #000;
$background-dark-ligt: #252527;
$background-dark: #000;
$background-success: #84b84c1f;
$background-error: #ff00001f;

$success: #84b84c;
$error: #f00;
$warninig: orange;



